/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng {
  @import "@primeng/resources/themes/lara-light-blue/theme.css";
  @import "@primeng/resources/primeng.css";
  @import "primeicons/primeicons.css";
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Global styles */
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
}

.container {
  padding: 2rem;
}
